table,
th,
td {
  border: 1px solid #888;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 3px;
}

a {
  color: var(--color-primary);
}

.renovate-ok,
.renovate-ok a.renovate-dashboard-link {
  color: var(--color-success);
}

.renovate-old,
.renovate-old a.renovate-dashboard-link,
.renovate-missing {
  color: var(--color-danger);
}

.renovate-logs-link {
  color: var(--color-dark);
}

* + .renovate-logs-link {
  padding-inline-start: 1em;
}

.dependabot-alerts-link {
  color: var(--color-danger);
}
