table,
th,
td {
  border: 1px solid #888;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 3px;
}

a {
  color: var(--color-primary);
}

.renovate-ok,
.renovate-ok a {
  color: var(--color-success);
}

.renovate-old,
.renovate-old a,
.renovate-missing {
  color: var(--color-danger);
}
