name: ci
on:
  push:
    branches:
      - "**"
  workflow_run:
    workflows: ["update-snapshots"]
    types:
      - completed

defaults:
  run:
    # NOTE: A bit stricter than the default bash options used by GitHub Actions
    # (bash --noprofile --norc -e -o pipefail {0})
    shell: bash --noprofile --norc -euo pipefail {0}

# NOTE: Set concurrency for the current workflow to 1
concurrency: ci-${{ github.ref }}-${{ github.workflow }}

jobs:
  build-and-deploy:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: capralifecycle/actions-lib/check-runtime-dependencies@0d1b5c56b39292d6395abf8fd404d68529837c3b # v1.6.4

      - uses: capralifecycle/actions-lib/parse-config@0d1b5c56b39292d6395abf8fd404d68529837c3b # v1.6.4
        id: config
        with:
          config-file: ".ldp.json"

      - name: Install Task
        uses: go-task/setup-task@0ab1b2a65bc55236a3bc64cde78f80e20e8885c2 # v1.0.0

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - uses: capralifecycle/actions-lib/configure-aws-credentials@0d1b5c56b39292d6395abf8fd404d68529837c3b # v1.6.4
        id: aws
        with:
          aws-account-id: ${{ steps.config.outputs.accountId }}
          # NOTE: We use different roles on default and non-default branches
          aws-iam-role-name: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && steps.config.outputs.roleName || steps.config.outputs.limitedRoleName }}

      - name: build project
        run: task build

      - name: check infra snapshots
        run: task check-snapshots

      - name: create and upload cloud assembly archive and metadata
        if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        id: upload-cloud-assembly
        uses: capralifecycle/actions-lib/upload-cloud-assembly@0d1b5c56b39292d6395abf8fd404d68529837c3b # v1.6.4
        with:
          aws-s3-bucket-name: ${{ steps.config.outputs.artifactBucket }}
          cdk-app-dir: "./packages/infrastructure"
        env:
          AWS_ACCESS_KEY_ID: ${{ steps.aws.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.aws.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.aws.outputs.aws-session-token }}

      - name: trigger production deployment pipelines
        uses: capralifecycle/actions-lib/trigger-deployment-pipeline@0d1b5c56b39292d6395abf8fd404d68529837c3b # v1.6.4
        if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        env:
          AWS_ACCESS_KEY_ID: ${{ steps.aws.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.aws.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.aws.outputs.aws-session-token }}
        with:
          pipelines: ${{ steps.config.outputs.prodPipelines }}
          trigger-type: "cloud-assembly"
          aws-s3-bucket-name: ${{ steps.config.outputs.artifactBucket }}
          cloud-assembly-metadata-file: ${{ steps.upload-cloud-assembly.outputs.cloud-assembly-metadata-file }}
