name: ci
on:
  push:
    branches:
      - "**"
  workflow_run:
    workflows: ["update-snapshots"]
    types:
      - completed

defaults:
  run:
    # NOTE: A bit stricter than the default bash options used by GitHub Actions
    # (bash --noprofile --norc -e -o pipefail {0})
    shell: bash --noprofile --norc -euo pipefail {0}

# NOTE: Set concurrency for the current workflow to 1
concurrency: ci-${{ github.ref }}-${{ github.workflow }}

jobs:
  build-and-deploy:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: capralifecycle/actions-lib/check-runtime-dependencies@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3

      - uses: capralifecycle/actions-lib/parse-config@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        id: config
        with:
          config-file: ".ldp.json"

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.11.1

      - uses: capralifecycle/actions-lib/configure-aws-credentials@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        id: aws
        with:
          aws-account-id: ${{ steps.config.outputs.accountId }}
          # NOTE: We use different roles on default and non-default branches
          aws-iam-role-name: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && steps.config.outputs.roleName || steps.config.outputs.limitedRoleName }}

      - name: "mise - install tools"
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.8.7
          install: true # run mise install
          cache: true

      - name: build project
        run: task build

      - name: check infra snapshots
        run: task check-snapshots

      - name: create and upload cloud assembly archive and metadata
        if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        id: upload-cloud-assembly
        uses: capralifecycle/actions-lib/upload-cloud-assembly@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        with:
          aws-s3-bucket-name: ${{ steps.config.outputs.artifactBucket }}
          cdk-app-dir: "./packages/infrastructure"
        env:
          AWS_ACCESS_KEY_ID: ${{ steps.aws.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.aws.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.aws.outputs.aws-session-token }}

      - name: trigger production deployment pipelines
        uses: capralifecycle/actions-lib/trigger-deployment-pipeline@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        env:
          AWS_ACCESS_KEY_ID: ${{ steps.aws.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.aws.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.aws.outputs.aws-session-token }}
        with:
          pipelines: ${{ steps.config.outputs.prodPipelines }}
          trigger-type: "cloud-assembly"
          aws-s3-bucket-name: ${{ steps.config.outputs.artifactBucket }}
          cloud-assembly-metadata-file: ${{ steps.upload-cloud-assembly.outputs.cloud-assembly-metadata-file }}
